/*** Launchpad by @sklppr - https://github.com/sklppr/launchpad ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

body { line-height: 1; color: black; background: white; }

ol, ul { list-style: none; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

a img { border: none; }

html { background: #ededed; background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#cccccc)); background-image: -moz-linear-gradient(center top, #fafafa, #cccccc); width: 100%; height: 100%; text-align: center; }

body { background: transparent; width: 650px; margin: 75px auto 0; padding: 25px; text-align: left; -webkit-text-size-adjust: none; -webkit-user-select: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }

h1 { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; font-size: 34px; text-align: center; margin: 0 0 40px; color: #666666; -webkit-text-shadow: 0 1px 0 white; -moz-text-shadow: 0 1px 0 white; text-shadow: 0 1px 0 white; }

#search-pages { margin: 0 0 10px 53px; height: 40px; overflow: hidden; *zoom: 1; }

#bookmarks { margin: 40px 0 0 155px; height: 40px; overflow: hidden; *zoom: 1; }

.search-page, .bookmark { display: block; float: left; height: 40px; margin-left: 20px; text-indent: -999em; overflow: hidden; opacity: 0.3; -webkit-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; }

.search-pages-item:first-child .search-page, .bookmarks-item:first-child .bookmark { margin-left: 0; }

.search-page:hover, .search-page:active, .search-page:target, .bookmark:hover { opacity: 1.0; }

#search-google { background: url('../images/../images.png?1298496476'); width: 90px; }

#search-wikipedia { background: url('../images/../images.png?1298496476') 0 -40px; width: 98px; }

#search-wolfram { background: url('../images/../images.png?1298496476') 0 -80px; width: 112px; }

#search-twitter { background: url('../images/../images.png?1298496476') 0 -120px; width: 92px; }

#search-youtube { background: url('../images/../images.png?1298496476') 0 -160px; width: 72px; }

#bookmark-facebook { background: url('../images/../images.png?1298496476') 0 -200px; width: 104px; }

#bookmark-github { background: url('../images/../images.png?1298496476') 0 -240px; width: 67px; }

#bookmark-instapaper { background: url('../images/../images.png?1298496476') 0 -280px; width: 109px; }

#search-box { height: 30px; }

#search-box.google #search-google { opacity: 1.0; }

#search-field { -webkit-appearance: none; float: left; font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif; font-size: 24px; color: #666666; width: 450px; margin: 0 95px; padding: 2px 4px; border: 1px solid #999999; background: white; -webkit-background-clip: padding-box; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 1px 0 #f2f2f2, inset 0 1px 2px #999999; -moz-box-shadow: 0 1px 0 #f2f2f2, inset 0 1px 2px #999999; box-shadow: 0 1px 0 #f2f2f2, inset 0 1px 2px #999999; }

#search-field:focus { outline: none; }

@media only screen and (max-device-width: 480px) { html { min-height: 290px; }
  body { margin-top: 0; padding: 40px 50px; }
  h1 { font-size: 24px; margin-bottom: 20px; }
  #bookmarks { margin-top: 20px; } }
